easy_admin:
    entities:
#        # List the entity class name you want to manage
        - App\Entity\WorkPost
        - App\Entity\Question
        - App\Entity\User
    site_name: '<em style="font-size: 180%;">Workers</em>'